html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
}

body {
  margin: 0;
}

.full-wrap {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  line-height: 16px;
  letter-spacing: -0.3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 47px;
  background: #00AFDB;
  outline: none;
  box-shadow: none;
  border: none;
}

.btn:hover {
  background: #009ac1;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}

/* section: header and "your life is WebDev" */
.wrap-for-background {
  background-image: url("assets/bg-image.png");
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav li {
  padding: 0 42.5px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
}

header nav:first-child {
  margin-left: -14px;
}

header nav:first-child li:first-child a {
  border-bottom: 1px solid;
}

header nav li a:hover {
  border-bottom: 1px solid;
}

.logo {
  padding: 0 57.5px;
  margin: 0;
  display: flex;
}

.your-life {
  min-height: 649px;
  position: relative;
}

h1 {
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 135px 0 22px 5px;
  margin: 0;
}

.your-life .about {
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 28px;
}

.your-life .btn {
  margin: 0 auto;
  display: block;
}

.your-life .soc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 85px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0px;
}

.your-life .soc-icon img {
  padding: 5px 15px;
}

.your-life .soc-icon img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* section "Rappresent" */
.rappresent {
  display: flex;
  align-items: center;
  min-height: 842px;
  padding: 0 268px;
}

.rappresent-img {
  width: 1030px;
}

.rappresent-img img {
  padding-bottom: 15px;
}

.rappresent-text {
  padding-left: 1px;
  padding-right: 250px;
  padding-bottom: 19px;
}

.rappresent-text h2 {
  padding-bottom: 8px;
}

.rappresent-text p {
  line-height: 143%;
  color: #4E4E4E;
}

.rappresent-text .btn {
  margin-top: 16px;
}

/* section "Our community" */
.our-community {
  height: 504px;
  background: #F5F6F7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.our-community .our-community-gallery {
  margin-bottom: 60px;
}

.our-community .our-community-gallery .gallery {
  display: flex;
}

.our-community .our-community-gallery .gallery img {
  margin-left: 30px;
}

.our-community .our-community-gallery .pagination {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
  margin-right: 269px;
}

.our-community .our-community-gallery .pagination .char {
  font-size: 17px;
  margin: 0 15px;
}

.our-community .our-community-text {
  width: 298px;
  text-align: center;
  margin-right: 108px;
  margin-bottom: 5px;
}

.our-community .our-community-text h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 17px 0 10px;
}

.our-community .our-community-text p {
  line-height: 143%;
  margin-top: 10px;
}

/* section "Implement" */
.implement {
  display: flex;
  align-items: center;
  min-height: 842px;
  padding: 0 269px;
  justify-content: flex-start;
}

.implement-img {
  width: auto;
}

.implement-img img {
  padding-bottom: 16px;
}

.implement-text {
  padding-left: 139px;
  padding-bottom: 21px;
  max-width: 407px;
}

.implement-text h2 {
  padding-bottom: 8px;
}

.implement-text p {
  line-height: 143%;
  color: #4E4E4E;
}

.implement-text .btn {
  margin-top: 15px;
}

/* section "Sing up" */
.sign-up {
  height: 524px;
  background-image: url("assets/sign-up-back.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sign-up h2 {
  color: #fff;
}

.sign-up div {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sign-up input {
  width: 292px;
  height: 46px;
  background: #FFFFFF;
  border: none;
  color: rgb(55 55 55 / 0.5);
  padding: 0 24px;
  outline: none;
}

.sign-up button {
  width: 66px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #00AFDB;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
}

.sign-up button:hover img {
  opacity: 0.6;
}

/* section "Download" */
.download {
  height: 464px;
  background: #F5F6F7;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.download p {
  width: 480px;
  color: #4E4E4E;
  text-align: center;
  margin: 20px 0 30px;
  line-height: 143%;
}

.download .btn {
  position: relative;
  padding: 15px 77px 15px 18px;
  margin: 0 13px;
}

.download .grp-btn {
  margin-bottom: 60px;
}

.download .btn span {
  width: 59px;
  background: #009CC2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.download .btn:hover span img {
  opacity: 0.8;
}

/* section "Footer" */
footer {
  height: 185px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
}

footer nav {
  margin-bottom: 18px;
}

footer nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer nav a {
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 21px 0 20px;
  position: relative;
}

footer nav a:hover {
  text-decoration: underline;
}

footer nav li:first-child a {
  padding-left: 0;
}

footer nav a::after {
  content: "";
  border-right: 1px solid #4E4E4E;
  position: absolute;
  top: 5px;
  bottom: 4px;
  right: 0px;
  height: 8px;
}

footer nav li:last-child a::after {
  content: none;
}

footer .text {
  color: #818181;
  margin-bottom: 18px;
}

footer .logo-footer {
  margin-bottom: 17px;
  margin-right: 87px;
}